@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>

<div id="text-left">
    <address>
        YourBanking <br />
        Rochester, NY, 14638 <br />
        Bank rd, 129. <br />
        <br />
        <strong>
            <a href="mailto:support@yourbanking.com">support@yourbanking.com</a>
        </strong>
    </address>

    <div id="form_section">
        <h4>@ViewData["Message"]</h4>
        <form method="post" id="contact_form">
            <textarea name="message" id="message"></textarea>
            <input id="send_btn" type="submit" value="Send" />
        </form>
        <img src="~/images/loader.gif" 
             id="progress" 
             style="display:none" 
             alt="loading..." 
             class="img-responsive"
        />
    </div>
</div>

@section scripts {
    <script>
        $('contact_form').submit(() => {
            $('#progress').show();

            $.post('', {message: $('#message').val()})
                .done(response => {
                    setTimeout(() => {
                        $('#message').html(response);
                    }, 3000)
                });
            return false;
        });
    </script>
}