@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>

<div id="text-left">
    <address>
        YourBanking <br />
        Rochester, NY, 14638 <br />
        Bank rd, 129. <br />
        <br />
        <strong>
            <a href="mailto:support@yourbanking.com">support@yourbanking.com</a>
        </strong>
    </address>

    <div id="formSection">
        <h4>@ViewData["Message"]</h4>
        <form 
        data-ajax="true" 
        data-ajax-method="POST" 
        data-ajax-mode="replace" 
        data-ajax-update="#formSection" >
            <textarea name="message"></textarea>
            <input type="submit" value="Send" />
        </form>
    </div>
</div>

@section scripts {
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}