@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>

<div class="text-left">
    <address>
        YourBanking <br />
        Rochester, NY, 14638 <br />
        Bank rd, 129. <br />
        <br />
        <strong>
            <a href="mailto:support@yourbanking.com">support@yourbanking.com</a>
        </strong>
    </address>


    <h4>@ViewData["Message"]</h4>
    <form method="post">
        <textarea name="message"></textarea>
        <input type="submit" value="Send" />
    </form>
</div>