@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="wrapper">
        <div class="box">
            <form>
                <input placeholder="XXXX-XXXX-XXXX-XXXX" name="number" type="number" />
                <input placeholder="PIN" type="number" />
                <button class="submit">log in</button>
            </form>
            <a class="link" href="#">no account?  <span class="signup-link">register </span></a>
        </div>
    </div>
</div>
