
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.margin-top-20 {
    margin-top: 20px;
}

#formSection {
    text-align: left;
    position: absolute;
    left: 15vw;
}

textarea {
    width: 50vw;
    height: 100px;
    margin-top: 10px;
}

#send_btn {
    color: #ffffff;
    width: 80px;
    margin: 10px;
}

/* Homescreen styles
-------------------------------------------------- */

.menu-buttons {
    margin-top: 50px;
}

.menu-buttons .btn {
    margin-top: 30px;
    background-color: darkgray;
    color: #e5ecff;
    height: 80px;
    border: none;
}

a.btn {
    text-decoration: none;
    padding-top: 20px;
    font-family: 'Fredoka One', cursive;
    font-size: 27px;
}

.btn:hover,
.btn:active,
.btn:after {
    background-color: #9494b8;
    border-color: #9494b8;
    outline: none;
}

#message {
    margin: 25px;
    padding-left: 35%;
    font-size: 27px;
    color: #9494b8;
    font-family: 'Fredoka One', cursive;
}
/* Homescreen styles
-------------------------------------------------- */

.submit {
    font-size: 20px;
    width: 120px;
    height: 40px;
    background-color: darkgray;
    color: #e5ecff;
    border: none;
    font-family: 'Fredoka One', cursive;
    margin-bottom: 30px;
    margin-top: 30px;
}

h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
    margin-top: 50px;
    color: white;
}

.link {
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #e5ecff;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

