@model IEnumerable<BankingApp.Models.Transaction>
@{
    ViewData["Title"] = "Statement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Statement</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                <strong>Transaction ID</strong>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                <strong>Amount</strong>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                <span style="cursor:pointer;">&larr;</span>
                <span style="cursor:pointer;">&rarr;</span>
            </td>
        </tr>
    </tfoot>
</table>

